<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.noesis.roomwalk.tests" android:versionCode="1" android:versionName="1">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="RoomWalk pairing tests" android:debuggable="true" />
  <instrumentation android:name="org.noesis.roomwalk.PairedCaptureInstrumentation" android:targetPackage="org.noesis.roomwalk" android:functionalTest="true" />
  <instrumentation android:name="org.noesis.roomwalk.OrientationInstrumentation" android:targetPackage="org.noesis.roomwalk" android:functionalTest="true" />
  <instrumentation android:name="org.noesis.roomwalk.WebShellInstrumentation" android:targetPackage="org.noesis.roomwalk" android:functionalTest="true" />
  <instrumentation android:name="org.noesis.roomwalk.FocusRoutingInstrumentation" android:targetPackage="org.noesis.roomwalk" android:functionalTest="true" />
  <instrumentation android:name="org.noesis.roomwalk.WalkModeInstrumentation" android:targetPackage="org.noesis.roomwalk" android:functionalTest="true" />
</manifest>
